{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Manage Users') }}{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'oauth2/autocomplete-organization' %}
{% endblock %}


{% block primary_content %}
<article class="module">
  <div class="module-content">
    {% block primary_content_inner %}
    {% block form %}
    {{ h.csrf_input() }}
    {% block form_errors %}{{ form.errors(error_summary) }}{% endblock %}

    <div>
      <h1 class="page-heading">{{ _('Update your profile details') }}</h1>
    </div>
    <form id="user-edit-form" class="dataset-form" method="post" enctype="multipart/form-data">
      {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname,
      error=errors.fullname,
      placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}

      {% if data.email %}

      {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email,
      placeholder=_('eg. joe@example.com'), classes=['control-medium'], attrs={'readonly': '',
      'class': 'form-control'}, is_required=true ) }}
      {% else %}
      {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email,
      placeholder=_('eg. joe@example.com'), classes=['control-medium'], is_required=true) }}
      {% endif %}

      {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about,
      classes=['control-medium'],
      placeholder=_('A little information about yourself')) }}

      {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
      {% set is_url = data.image_url and data.image_url.startswith('http') %}

      {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url,
      is_upload=is_upload,
      upload_label=_('Profile picture'), url_label=_('Profile picture URL') ) }}


      <div class="organization-form-groups">
        <span class="group-label">{{ _("Organization Details")}}</span>
        {{ form.input('organization', label=_('Organization Name'), id='field-organization', type='organization',
        value=data.organization, error=errors.organization,
        placeholder=_(''), classes=['control-medium'], attrs={'data-module': 'autocomplete-organization',
        'data-module-source': '/api/3/util/organization/autocomplete?q=?', 'data-module-createtags': true,
        'data-module-key': 'name',
        'data-module-label': 'title', 'class': ''}, is_required=true ) }}

        <div class="organization-fields">
          {{ form.input('organization_email', label=_('Email'), id='field-organization-email', type='email',
          value=data.organization_url, error=errors.organization_url,
          placeholder=_('eg. your_org_email@example.com'), classes=['control-medium'], attrs={'class': 'form-control'}
          ) }}

          {{ form.input('organization_url', label=_('Url'), id='field-organization-url', type='text', value=data.organization_email,
          error=errors.organization_email, classes=['control-medium'], attrs={'class': 'form-control'}
          )}}
        </div>
      </div>

      {{ form.required_message() }}
      <button class="btn btn-primary" type="submit" name="save">{{ _('Update and Continue') }}</button>
      {% endblock %}
      {% endblock %}
    </form>
  </div>
</article>
{% endblock %}

{% block secondary_content %}
{% block help %}
<section class="module module-narrow module-shallow">
  {% block help_inner %}
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Profile Info') }}</h2>
  <div class="module-content">
    <p>{% trans %} Please enter your profile information. Your profile lets other CKAN users know about who you are and
      what you
      do.
      process.
      {% endtrans %}</p>
  </div>
  {% endblock %}
</section>
{% endblock %}
{% endblock %}