.sso-container {
    width: 300px;
    margin: auto;
}


.sso-item {
    display: flex;
    align-items: center;
    position: relative;
    margin: 16px 0;
    padding: 16px 0;
    background: #fff;
    color: #212b32!important;
    border: 1px solid #d8dde0;
    box-shadow: 0 4px 0 #d8dde0;
    border-radius: 3px;
}
.sso-item:hover, .sso-item:focus  {
    background: #dee2e6  !important;
    color: #212b32!important;
    border: 1px solid #dee2e6 ;
    box-shadow: 0 4px 0 #dee2e6 ;
    border-radius: 3px;
}

.sso-item i {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 20px;
}

