.hidden {
    display: none;
}

.sso-container {
    width: 300px;
    margin: auto;
    background: #fff;
    padding: 8px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.sso-item {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.sso-heading {
    text-align: center;
    margin-bottom: 35px;
    position: relative;
}

.sso-heading:before {
    content: '';
    position: absolute;
    top: 20px;
    right: -10px;
    height: 0;
    width: 100px;
    border-top: 1px solid #d8dde0;
}

.sso-heading:after {
    content: '';
    position: absolute;
    top: 20px;
    left: -10px;
    height: ;
    width: 100px;
    border-top: 1px solid #d8dde0;
}


.badge-danger {
    background-color: #dc3545;
}

.badge-success {
    background-color: #28a745;
}

.badge-warning {
    background-color: #ffc107;
}

.sso-item i, .sso-item svg {
    margin-right: 15px;
    font-size: 20px;
}

.account-review-action {
    display: flex;
}

.account-review-action button {
    margin-right: 10px;
}

.dataTables_filter label {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.dataTables_filter label:after {
    content: "";
}

.review-user-table th {
    background: #f5f5f5;
    color: #212b32;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}  

#review-user-table_paginate li {
    margin-top: 10px;
    padding: 0;
}
#review-user-table_paginate li:hover {
    border: 1px solid #dee2e6;
    
}

.select2-container {
    padding: 0;
}

.organization-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    width: 50px;
    height: 40px;
    overflow: hidden; 
  }

  .image-container img {
    padding-right:10px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .select2-container .select2-choice {
    height: 35px !important;
    padding: 4px 0 0 8px !important;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .select2-container {
    width: 100%;
  }

  .select2-chosen .organization-option .image-container {
    width: 30px;
    height: 26px;
  }
  
  .select2-container .select2-choice .select2-arrow b {
    margin-top: 4px;
  }

  