{% extends "admin/base.html" %}


{% block primary_content_inner %}
<table id="review-user-table" class="table review-user-table table-striped table-bordered"
    data-module="review-user-table">
    <thead>
        <tr>
            <th>{{ _('User') }}</th>
            <th>{{ _('Registration date') }}</th>
            <th class="hidden">{{ _('State') }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% set organization = h.is_organization_exist(user.organization.name or "") %}
        <tr>
            <td style="display: flex; justify-content: space-between;">
                <a href="/user/{{ user.name }}">{{ user.fullname or user.email }}</a>
            </td>
            <td>{{user.created.isoformat()}}</td>
            <td class="hidden">{{user.state}}</td>
            <td>
                {% if user.state in ['pending'] %}

                <div class="account-review-action">
                    <button type="button" class="btn btn-default btn-sm" data-bs-toggle="modal"
                        data-bs-target="#user-detail-{{user.id}}">
                        {{ _('View') }}
                    </button>

                    <form method="POST">
                        <input type="hidden" value="{{ user.id }}" name="id" />
                        <input type="hidden" value="approve" name="action" />
                        <button type="submit" class="btn btn-success btn-sm" title="{{ _('Approve') }}">
                            {{ _('Approve') }}
                        </button>
                    </form>

                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#reject-modal-{{user.id}}">
                        {{ _('Reject') }}
                    </button>

                    <div class="modal" id="user-detail-{{user.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{ _('Account Details') }}
                                    </h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                    <table>
                                        <tr>
                                            <td>{{ _('Name') }}:</td>
                                            <td>{{ user.fullname or user.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ _('Email') }}:</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ _('Organization') }}:</td>
                                            {% if organization %}
                                            <td><a href="{{ h.url_for('organization.read', id=organization.name) }}">
                                                    {{organization.title}} </a>
                                            {% elif user.organization.name %}
                                            <td>{{ user.organization.name }} <span
                                                    class="badge badge-success">New</span>
                                            </td>
                                            {% else %}
                                            <td>{{ _('No organization') }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>{{ _('About') }}:</td>
                                            <td>{{ user.about or "Null"}}</td>
                                        </tr>
                                        {% if not organization %}
                                        <tr>
                                            <td>{{ _('Organization Email') }}:</td>
                                            <td><a href="mailto:{{ user.organization.email }}">{{ user.organization.email }}</a>
                                        </tr>
                                        <tr>
                                            <td>{{ _('Organization Url') }}:</td>
                                            <td><a href="{{ user.organization.url }}">{{ user.organization.url }}</a>
                                        </tr>
                                        {% endif %}
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"> {{
                                        _('Cancel') }}</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal" id="reject-modal-{{user.id}}">
                        <div class="modal-dialog">
                            <form method="POST">

                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ _('Are you sure you want to reject this account?') }}
                                        </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="reason">{{ _('Message') }}</label>
                                            <textarea class="form-control" id="message" name="message"
                                                rows="3"></textarea>
                                        </div>
                                        <input type="hidden" value="{{ user.id }}" name="id" />
                                        <input type="hidden" value="reject" name="action" />
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">{{_('Reject')}}</button>
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal"> {{
                                _('Cancel') }}</button>
                        </div>
                        </form>


                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('Account Review') }}
    </h2>
    <div class="module-content">
        {% trans %}
        <p>You can find all the accounts that have been pending for review </p>
        <p>When you approve or reject an account, the user will be notified by email.</p>
        {% endtrans %}
    </div>
</div>
{% endblock %}